* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:'Courier New', Courier, monospace;
}

/*este selector universal* selecciona todos los elementos del HTML*/

body {
    background-color:aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    margin:2rem;
    padding:3rem;
    background-color:blue;
    border: 4px red solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50vh;
}

h1 {
    color:yellow
}

h2{
    color:hotpink
}

nav {
display:flex;
justify-content: space-between;
align-items: center;
justify-content: space-around;
color: white;
}